<h1>{{restaurant.name}}</h1>
<img src="{{restaurant.images}}" width="200" height="200" alt="">

<form action="/reservation/{{restaurant._id}}" method="POST">
  <div class="form-group">
    <label for="exampleInputPassword1">Fecha y hora de la reservación</label>
    <input name="date" type="date">
    <input name="time" type="time">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
<form action="/review/{{restaurant._id}}" method="POST">
  <div class="form-group">
    <label for="exampleInputPassword1">Reseña</label>
    <textarea name="opinion" class="form-control" id="review" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
    </div>
    {{#each reviews}}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Comments</h4>
          <p class="card-text">{{opinion}}</p>
          <a href="#" class="btn btn-danger delete-review" data-review-id="{{review._id}}"> Borrar </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>


<script>
  const deleteButtons = document.querySelectorAll(".delete-review");
  deleteButtons.forEach(button => {
    button.addEventListener("click", event => {
      event.preventDefault();
      const reviewId = button.dataset.reviewId;
      fetch(`/review/${reviewId}`, { method: "DELETE" })
        .then(res => res.json())
        .then(data => {
          if (data.success) {
            button.parentElement.remove();
          } else {
          }
        })
        .catch(err => {
        });
    });
  });
</script>
